# Ficheiros de ambiente e cache do Python
__pycache__/
venv/
*.pyc

# Pasta com modelos treinados
auxiliary/

# Pasta com imagens de teste
test/
data/
train/
test_data/

# Ficheiros do sistema
.DS_Store